/*Main page*/
.main{
	font-family: tangerine;
	background-image: url("lib/wood background.png");
	background-size: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 7em;
}
/*Navigation bar*/
.navbar{
	background-color: SteelBlue;
	width: 100%;
	height: 5em;
	line-height: 2.5em;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow:0em 0em 0.25em 0.25em rgba(0,0,0,0.5);
}
.navbar>h1{
	font-family: tangerine;
	color: GhostWhite;
	font-size: 3em;
	position: absolute;
	top: 0;
	left: 1em;
}
/*Footer*/
.footer{
	position: absolute;
	bottom: -7em;
	left: 0;
	width: 100%;
	height: 7em;
	text-align: center;
}
.footer>p{
	padding-top:3em;
	font-family: merriweather;
	color: GhostWhite;
}
/*Main page content*/
.content{
	background-color: rgba(248, 248, 255,0.5);
	position: relative;
	top: 10em;
	width: 80%;
	left:10%;
	border-radius: 1.5em;
	padding: 1em;
	margin-bottom: 5%;
	border-style: double;
	border-color: Sienna;
	border-width: 0.2em;
	box-shadow:0em 0.25em 0.15em 0.15em rgba(0,0,0,0.3);
}
.content>h1{
	text-align: center;
	font-family: tangerine;
	font-size: 5em;
	color: SteelBlue;
	margin: 0.25em;
}
.content>p{
	text-align: auto;
	font-family: merriweather;
	font-size: 1.5em;
	text-indent: 3em;
	margin:0.2;
}

/*Add custom fonts*/
@font-face{
	font-family: dancing;
	src: url("lib/fonts/DancingScript-Regular.ttf");
}
@font-face{
	font-family: tangerine;
	src: url("lib/fonts/Tangerine-Regular.ttf");
}
@font-face{
	font-family: merriweather;
	src: url("lib/fonts/Merriweather-Regular.ttf");
}