/*general positioning*/
.vertical_center{
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.center{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*Main page*/
.main{
	font-family: tangerine;
	background-image: url("lib/wood background.png");
	background-size: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 7em;
	margin: 0;
}

/*Navigation bar*/
.navbar{
	position: fixed;
	background-color: SteelBlue;
	width: 100%;
	height: 5em;
	line-height: 2.5em;
	top: 0;
	left: 0;
	box-shadow:0em 0em 0.25em 0.25em rgba(0,0,0,0.5);
}
.navbar>h1{
	font-family: tangerine;
	color: GhostWhite;
	font-size: 3em;
	position: absolute;
	top: 0;
	left: 1em;
}
/*Navigation buttons*/
.nav_button{
	position: fixed;
	width: 10em;
	height: 3em;
	top: 1em;
	border-style: solid;
	border-width: 0 0.1em 0 0;
	border-color: GhostWhite;
}
.nav_button>button{
	display: block;
	background-color: rgba(0, 0, 0, 0);
	width: 10em;
	height: 3em;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: merriweather;
	color: GhostWhite;
	font-size: 1em;
	border: none;
	outline: none;
	transition: background .1s ease-in
}
.nav_button>button:hover{
	background-color: LightSteelBlue;
}

/*Footer*/
.footer{
	position: absolute;
	bottom: -7em;
	left: 0;
	width: 100%;
	height: 7em;
	text-align: center;
}
.footer>p{
	padding-top:3em;
	font-family: merriweather;
	color: GhostWhite;
}

/*Major page content*/
.content{
	background-color: rgba(248, 248, 255,0.5);
	position: relative;
	top: 10em;
	width: 80%;
	left:10%;
	border-radius: 1.5em;
	padding: 1em;
	margin-bottom:5em;
	border-style: solid;
	border-color: Sienna;
	border-width: 0.2em;
	box-shadow:0em 0.25em 0.15em 0.15em rgba(0,0,0,0.3);
}
.content>h1{
	text-align: center;
	font-family: tangerine;
	font-size: 5em;
	color: SteelBlue;
	margin: 0.25em;
}
.content>h2{
	text-align: center;
	font-family: merriweather;
	font-size: 3em;
	color: Goldenrod;
	margin: 0.25em;
}
.content>p{
	text-align: auto;
	font-family: merriweather;
	font-size: 1.5em;
	text-indent: 3em;
	margin:0.2;
}
.content>ul{
	text-align: auto;
	color: SteelBlue;
	font-family: merriweather;
	font-size: 1.5em;
	margin:0.2;
	margin-left: 7em;
}
.content>iframe{
	width: 64vw;
	height: 36vw;
	display: block;
	border: hidden;
	margin-left: auto;
	margin-right: auto;
}

.gallery_collapse_button{
	position: absolute;
	font-family: merriweather;
	font-size: 3em;
	width: 1.5em;
	height: 1.5em;
	display: block;
	background-color: SteelBlue;
	color: GhostWhite;
	right: 0.5em;
	top: 0.5em;
	border: none;
	outline: none;
	border-radius: 0.75em;
	transition: background .1s ease-in
}
.gallery_collapse_button:hover{
	background-color: LightSteelBlue;
}

.gallery_link_button{
	position: absolute;
	font-family: merriweather;
	font-size: 2em;
	width: 10em;
	height: 2em;
	display: block;
	background-color: SteelBlue;
	color: GhostWhite;
	right: 0.5em;
	top: 0.5em;
	border: none;
	outline: none;
	border-radius: 0.5em;
	transition: background .1s ease-in;
	vertical-align: middle;
}
.gallery_link_button:hover{
	background-color: LightSteelBlue;
}

.airbnb_link_button{
	position: absolute;
	font-family: merriweather;
	font-size: 2em;
	width: 10em;
	height: 2em;
	display: block;
	background-color: Sienna;
	color: GhostWhite;
	right: 0.5em;
	top: 3em;
	border: none;
	outline: none;
	border-radius: 0.5em;
	transition: background .1s ease-in;
	vertical-align: middle;
}
.airbnb_link_button:hover{
	background-color: Peru;
}

.title{
	text-align: center;
	font-family: tangerine;
	font-size: 7.5em;
	color: Goldenrod;
	margin: 0.25em;
}

/*Images*/
.round_corner_image{
	border-radius:1.5em;
}
.gallery_image{
	display: block;
	width: 60%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	border-style: solid;
	border-width: 0.5em;
	border-color: GhostWhite;
	box-shadow:0em 0.25em 0.15em 0.15em rgba(0,0,0,0.3);
}
.gallery_image_container{
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.gallery_image_container>h2{
	text-align: center;
	font-family: merriweather;
	font-size: 3em;
	color: Goldenrod;
	margin: 0.25em;
}

/*borders*/
.bold_white_border{
	border-style: solid;
	border-width: 0.5em;
	border-color: GhostWhite;
}

/*Focused content*/
.focus{
	display: block;
	background-image: url("lib/flag.png");
	background-size: 100%;
	position: relative;
	top:5em;
	width: 100%;
	height: 55vw;
	box-shadow:0em 0em 0.5em 0.5em rgba(0,0,0,0.75);
}

/*Add custom fonts*/
@font-face{
	font-family: dancing;
	src: url("lib/fonts/DancingScript-Regular.ttf");
}
@font-face{
	font-family: tangerine;
	src: url("lib/fonts/Tangerine-Regular.ttf");
}
@font-face{
	font-family: merriweather;
	src: url("lib/fonts/Merriweather-Regular.ttf");
}